<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         backupGlobals="false"
         backupStaticProperties="false">
    <testsuites>
        <testsuite name="sdk">
            <directory>tests/Resources</directory>
            <directory>tests/Contract</directory>
        </testsuite>
    </testsuites>
</phpunit>
